@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

//varibales
$red: #e1332d;
$color-effects01: #2b87a2;
$white: #fff;

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}